
/* The sidenav */
html {
  background: url('studentdashbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper {
   color: white;
  height: 100%;
  width: 100%;
}

.content {
    position: relative;
}
.content img {
    position: fixed;
    top: 0px;
    right: 0px;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
  font-family: sans-serif;
   color: #666666;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    padding-top: 30px;
    padding-bottom: 90px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s

}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
      color: #666666;
}
/* Page content */
.main {
  height:50%;
  width: 90%;
  margin-left: 200px; /* Same as the width of the sidenav */
padding-bottom: 100px;
padding-top: 100px;
text-align: center;
/*background-color: #4da6ff;*/
background: transparent;
font-family: sans-serif;
color: white;


}

button#module-button{
    background: #ccc url('../Images/notebook.png') no-repeat top left;
    padding-left: 16px;
    height: 16px;
}

button#checklist-button{
    background: #ccc url('checklist.png') no-repeat top left;
    padding-left: 16px;
    height: 16px;
}

h1 {
   text-align: center;
   font-family: sans-serif;
   color: white;
}

.main p {
   text-align: center;
   font-family: sans-serif;
   color: white;
}

.navbar {
     margin-bottom: 0;
     border-radius: 0;
     color: white;

  }

   /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
   .row.content {height: 100%;
      color: white;
  }

   /* Set black background color, white text and some padding */


   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
     }
     .row.content {height:auto;

     }
   }


.tile {
    float: right;
    width: 45%;
    height: 50%;
    text-align: center;
    background-color: transparent;
    font-family: sans-serif;
}

.tile a {
    padding: 8px 8px 8px 32px;
    padding-top: 30px;
    padding-bottom: 90px;
    text-decoration: none;
    font-size: 25px;
  color: white;
    display: block;
    transition: 0.3s

}
/* When you mouse over the navigation links, change their color */
.tile a:hover, .offcanvas a:focus{
      color: #666666;
}
.tile img{
  float: left;
}

footer {
  background-color: #555;
  color: white;
}

#fixed {
    position:fixed;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:75%;
}
